<p>
Here's the idea: every week, I'll record a cover of the song that's at the top of the list.
If you like a song in the list, you can bump it higher in the list by donating to a charity.
If you don't like a song in the list, you can bump it lower in the list by donating to a charity.
Either way, the charities win!
</p>
